openapi: 3.0.3
info:
  title: "Monetbil API"
  description: "API for processing payments via Monetbil Widget v2.1"
  version: "v1"
servers:
  - url: "https://api.monetbil.com"
tags:
  - name: "Monetbil"
    description: "Monetbil Widget API v2.1"
paths:
  /widget/v2.1/{serviceKey}:
    post:
      summary: "Generate a payment link with Monetbil Widget API v2.1"
      operationId: "generatePaymentLink"
      tags:
        - "Monetbil"
      parameters:
        - name: serviceKey
          in: path
          required: true
          description: "Unique service key generated by Monetbil for each service."
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WidgetPaymentRequestDto"
      responses:
        '200':
          description: "Successful response."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WidgetPaymentResponseDto"
components:
  schemas:
    WidgetPaymentRequestDto:
      type: "object"
      required:
        - "amount"
      properties:
        amount:
          description: "Amount to charge the consumer."
          type: number
        phone:
          description: "Predefined phone number of the user."
          type: string
        phone_lock:
          description: "Prevent changing the phone number. Default: false"
          type: boolean
          default: false
        locale:
          description: "Language code (fr or en)."
          type: string
          enum: ["fr", "en"]
        operator:
          description: "Operator code to preselect by default."
          type: string
          enum: ["CM_MTNMOBILEMONEY", "CM_ORANGEMONEY", "CM_EUMM"]
        country:
          description: "Two-letter country code (ISO 3166-1)."
          type: string
          enum: ["CM"]
        currency:
          description: "Currency to use."
          type: string
          enum: ["XAF"]
        item_ref:
          description: "Unique reference of the item in your system."
          type: string
        payment_ref:
          description: "Unique reference of the order in your system."
          type: string
        user:
          description: "The user making the purchase in your system."
          type: string
        first_name:
          description: "First name of the user."
          type: string
        last_name:
          description: "Last name of the user."
          type: string
        email:
          description: "Email address of the user."
          type: string
          format: email
        return_url:
          description: "Redirect URL after payment."
          type: string
        notify_url:
          description: "Notification URL for server-to-server callbacks."
          type: string
        logo:
          description: "URL of your logo to display on the Widget."
          type: string
    WidgetPaymentResponseDto:
      type: "object"
      properties:
        success:
          type: boolean
          description: "Status of the response (true or false)."
        payment_url:
          type: string
          description: "Payment URL to redirect the user to."
        payment_id:
          type: string
          description: "Unique payment identifier returned by Monetbil."
        message:
          type: string
          description: "Response message."
